.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: aliceblue;
  font-size: 12px;

  a {
    color: darkslategrey;
  }
}

.header nav {
  display: flex;
  margin: 1rem auto;
  max-width: 1300px;
}

.header-title {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  margin: auto 1rem;

  a {
    font-size: 3em;
    margin: auto 0.15rem;
    font-family: title-font;
    text-decoration: none;
  }

  img {
    width: 100%;
    max-width: 60px;
    height: auto;
    border-radius: 2rem;
  }
}

.header-list {
  display: flex;  
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-evenly;
  margin: auto;
  font-family: header-list-font;

  a {
    text-decoration: none;
    font-size: 1.5em;
  }

  a:hover {
    color: #b62f25;
    transition: 0.4s;
  }
}

.create-post {
  display: flex;  
  flex-direction: row;
  justify-self: end;
  margin: auto 1rem;
  font-family: header-list-font;

  a {
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #b62f25;
    color: white;
    border: 2px solid #b62f25;
    cursor: pointer;
  }
}


@media only screen and (max-width: 1100px) {
  .header-list {
    a {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .header {
    font-size: 10px; //Changing default(16px) to 10px that will shrink other fonts within header(em units).
  }

  .header-list {
    a {
      display: none;
    }   
  }

  .header-title {
    img {
      max-width: 50px;
    }
  }

  .create-post {  // TODO: Button should be sticky at bottom right for mobiles.
    a {
      // font-size: 1.1rem;
      padding: 0.5rem 1rem;
    }
  }
}

@media (min-width: 360px) and (max-width: 420px) {
  .header {
    font-size: 8px;
  }
}