<div class="header">
  <nav>
    <div class="header-title">
      <img src="assets/images/header-img.jpg" alt="" class="header-img"/>
      <a href="#" class="title-name">{{ title }}</a>
    </div>
    <div class="header-list">
      <a (click)="toHome()" routerLink="/home" routerLinkActive="active" >Home</a>
      <a (click)="toBoard()" routerLinkActive="active" >Board</a>
      <a href="#">Contact Us</a>
      <a href="#">Follow Us!</a>
    </div>
    <div class="create-post">
      <a (click)="toCreatePost()">Create Post</a>
    </div>
  </nav>
</div>