<div class="followus-container">
  <div class="text">
    <h1>Thank you for subscribing our YouTube!</h1>
  </div>
  <div>
    <iframe  width="560" height="315" src="https://www.youtube.com/embed/AjP5wQUOrLM" title="Taking new International Students for a Trip | ABC kithe gayi c shooting|" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>&copy; 2023 Ottawa Punjabis</h5>
      </div>
      <div class="col-md-4">
        <h5>Email</h5>
        <a href="#">Ottawapunjabi@gmail.com</a>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="https://www.instagram.com/ottawapunjabis/" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</footer>
