h2 {
  font-size: 2.2em;
  text-align: center;
  font-family: header-list-font;
  font-weight: 500;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: 1.5em;
    text-align: left;
    font-family: header-list-font;
  }
}

.rideshare-container,
.accommodation-container,
.jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin: 2rem;
  }
}




