<div class="container-sm">
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'home'}" (click)="selectTab('home')">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'about'}" (click)="selectTab('about')">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedTab === 'contact'}" (click)="selectTab('contact')">Contact</a>
      </li>
    </ul>
  </nav> -->

  <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
    <li class="nav-item" role="presentation">
      <button (click)="selectTab('rideshare')"
        [ngClass]="{'active': selectedTab === 'rideshare'}"
        class="nav-link rounded-5" 
        id="home-tab2" 
        data-bs-toggle="tab" 
        type="button" role="tab" 
        aria-selected="true">Rideshare</button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="selectTab('accommodation')"
        [ngClass]="{'active': selectedTab === 'accommodation'}" 
        class="nav-link rounded-5" 
        id="profile-tab2" 
        data-bs-toggle="tab" 
        type="button" 
        role="tab" 
        aria-selected="false">Accommodation</button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="selectTab('jobs')" 
        [ngClass]="{'active': selectedTab === 'jobs'}" 
        class="nav-link rounded-5" 
        id="contact-tab2" 
        data-bs-toggle="tab" 
        type="button" 
        role="tab" 
        aria-selected="false">Jobs</button>
    </li>
  </ul>
  
  <div class="tab-content">
    <div *ngIf="selectedTab === 'rideshare'" class="container tab-pane active"><app-rideshare-form></app-rideshare-form></div>
    <div *ngIf="selectedTab === 'accommodation'" class="container tab-pane active"><h3>About Content</h3></div>
    <div *ngIf="selectedTab === 'jobs'" class="container tab-pane active"><h3>Contact Content</h3></div>
  </div>

</div>