/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: 'title-font';
  src: url('./assets/fonts/MavenPro-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'header-list-font';
  src: url('./assets/fonts/MavenPro-VariableFont_wght.ttf');
}


*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
