<div class="post">
  <div [ngStyle]="this.getRandomColor()" class="details">
    <h3>{{ accommodation_post.post_type }} {{ accommodation_post.type }}</h3>
    <p>Posted on: {{ accommodation_post.date }}</p>
    <p>Setting: {{ accommodation_post.setting }}</p>
    <p>Price: ${{ accommodation_post.price }}</p>
    <p>Area: {{ accommodation_post.area }}</p>
  </div>
  <div class="contact-id">
    <span>{{ accommodation_post.contact_type }}</span>
    <a href="#">{{ accommodation_post.username }}</a>
  </div>
</div>
